HoRSPartnerClient/src/META-INF/wsdl/localhost_8080/holidayReservationWebService/HolidayReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="holidayReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/holidayReservationWebService/HolidayReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="calculatePrice">
<part name="parameters" element="tns:calculatePrice"/>
</message>
<message name="calculatePriceResponse">
<part name="parameters" element="tns:calculatePriceResponse"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<message name="calculateNumOfRoomsAvailable">
<part name="parameters" element="tns:calculateNumOfRoomsAvailable"/>
</message>
<message name="calculateNumOfRoomsAvailableResponse">
<part name="parameters" element="tns:calculateNumOfRoomsAvailableResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="viewAllRoomTypes">
<part name="parameters" element="tns:viewAllRoomTypes"/>
</message>
<message name="viewAllRoomTypesResponse">
<part name="parameters" element="tns:viewAllRoomTypesResponse"/>
</message>
<message name="createPartnerReservation">
<part name="parameters" element="tns:createPartnerReservation"/>
</message>
<message name="createPartnerReservationResponse">
<part name="parameters" element="tns:createPartnerReservationResponse"/>
</message>
<message name="viewAllPartnerReservationsFor">
<part name="parameters" element="tns:viewAllPartnerReservationsFor"/>
</message>
<message name="viewAllPartnerReservationsForResponse">
<part name="parameters" element="tns:viewAllPartnerReservationsForResponse"/>
</message>
<portType name="HolidayReservationWebService">
<operation name="calculatePrice">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/calculatePriceRequest" message="tns:calculatePrice"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/calculatePriceResponse" message="tns:calculatePriceResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/calculatePrice/Fault/RoomTypeNotFoundException"/>
</operation>
<operation name="calculateNumOfRoomsAvailable">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/calculateNumOfRoomsAvailableRequest" message="tns:calculateNumOfRoomsAvailable"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/calculateNumOfRoomsAvailableResponse" message="tns:calculateNumOfRoomsAvailableResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/calculateNumOfRoomsAvailable/Fault/RoomTypeNotFoundException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="viewAllRoomTypes">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/viewAllRoomTypesRequest" message="tns:viewAllRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/viewAllRoomTypesResponse" message="tns:viewAllRoomTypesResponse"/>
</operation>
<operation name="createPartnerReservation">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createPartnerReservationRequest" message="tns:createPartnerReservation"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createPartnerReservationResponse" message="tns:createPartnerReservationResponse"/>
</operation>
<operation name="viewAllPartnerReservationsFor">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/viewAllPartnerReservationsForRequest" message="tns:viewAllPartnerReservationsFor"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/viewAllPartnerReservationsForResponse" message="tns:viewAllPartnerReservationsForResponse"/>
</operation>
</portType>
<binding name="HolidayReservationWebServicePortBinding" type="tns:HolidayReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="calculatePrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="calculateNumOfRoomsAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="viewAllRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPartnerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllPartnerReservationsFor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="holidayReservationWebService">
<port name="HolidayReservationWebServicePort" binding="tns:HolidayReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/holidayReservationWebService/HolidayReservationWebService"/>
</port>
</service>
</definitions>